.header-nav {
  padding: 16px 0;
  border-bottom: 1px solid #ddd;
}

.header-nav nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav nav ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav nav ul li a {
  display: block;
  margin: 0;
  padding: 4px 20px 4px 0;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.header-nav nav ul li a:hover {
  color: #003fd1;
}

.header-nav nav ul li a.is-active {
  color: #003fd1;
}
